<div class='profile-section-header'><h2>Repositories</h2></div>

<script>

	Repo.initRepoLayout(<%=@user_repos%>)

</script> 

<div id='repo-container-back' class='content-container'>
	<div id='repo-name-wrapper'>
		<p id='repo-name'>Hover A Repo</p>
	</div>
</div>

<div id='sort-button-wrapper'>
	<div class="medium default btn rounded" >
		<a href="created" class='sort-button'>Created</a>
	</div>
	<div class="medium info btn rounded" >
		<a href='updated' class='sort-button'>Recent</a>
	</div>
	<div class="medium info btn rounded" >
		<a href="full_name" class='sort-button'>Alphabetical</a>
	</div>
	<div class="medium info btn rounded" >
		<a href="lang" class='sort-button'>Language</a>
	</div>
</div>