<div class='row'>
<div id='about-title'>
	<h1>GitHub Layers</h1>
</div>
</div>
<div class='content-container'>
<div id='about-message'>
	<p>
		<span> What </span> does your code's life look like? We all write it. We spend days writing it.
		Now lets see it. Layers uses your GitHub profile to form a visual representation of your projects, 
		displaying information about the programming languages you use most, the scale of the projects you work on,
		and who you're working with.</p>
</div>
