<div id='about-title'>
	<h1 style='font-weight: 600'>GitHub Layers</h1>
</div>
<div class='content-container'>
<div id='about-message'>
	<p>
		<span> What </span> does your code's life look like? We all write it. We spend <span>days</span> writing it.
		Now lets see it. <span>Layers</span> uses your GitHub profile to form a visual representation of your projects, 
		displaying information about the programming <span>languages</span> you use most, the <span>scale</span> of the projects you work on,
		and the <span>people</span> you're working with.</p>
</div>
