<div id='welcome-message'>
<h1>Code is Beautiful.</h1>
<h2 style='font-family:"Abel"'>Layer it.</h2>
<div class="xlarge info btn" id='login-button'>
	<a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>GitHub Login</a>
</div>
</div>