<div id='welcome-message'>
<h1>Layer Your Code</h1>
<div class="large info btn" id='login-button'>
	<a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>GitHub Login</a>
</div>
</div>