<div class='content-container' id='home-page-content-container'>
	<div id='page-title'>
		<h1>
			<span>Code is Beautiful</span>
		</h1>
	</div>
	<h2 style='font-family:"Abel"'>Layer it</h2>
	<div class="xlarge info btn" id='login-button'>
		<a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>GitHub Login</a>
	</div>
</div>

<script>
  Page.animateHomePage();
</script>