body {
	background: url('white_carbon.png') fixed;
}

#repos_container {
	display: block;
	margin: auto;
	background: #eaeaea;
	margin-top: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile-section-header {
	text-align: center;

}

#login-button {
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#welcome-message {
	margin: auto;
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #eaeaea;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

#welcome-message span {
	font-family: 'Advent Pro';
}

#about-title {
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

#about-back {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #eaeaea;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#about-message {
	width: 900px;
	margin: auto;
}

#about-message p {
	font-size: 30px;
}

#about-message span {
	font-size: 50px;
}