#repos_container {
	display: block;
	margin: auto;
	background: url('white_carbon.png');
	margin-top: 50px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}
