body {
	background: url('white_carbon.png') fixed;
}

#repos_container {
	display: block;
	margin: auto;
	background: #eaeaea;
	margin-top: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile-section-header {
	text-align: center;

}

#page-title {
	text-align: center;
}

#page-title h1{
	font-size: 80px;
}

#page-title h1 span {
	font-weight: 600;
}

#login-button {
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#welcome-message {
	margin: auto;
	padding-top: 20px;
	margin-top: 40px;
	padding-bottom: 20px;
	background: #eaeaea;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

#welcome-message span {
	font-family: 'Advent Pro';
}

#about-title{
	text-align: center;
	margin-top: 45px;
}

.content-container {
	margin: auto;
	margin-top: 60px;
	margin-bottom: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #eaeaea;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

#about-message {
	width: 1000px;
	margin: auto;
}

#about-message p {
	font-size: 30px;
	text-indent: 40px;

}

#about-message span {
	font-size: 35px;
	font-family: 'Abel';
	font-weight: 600;
	color: black;
}